################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/Web/ClientApp/dist
/Web/wwwroot/dist

UnitOfWork.Interfaces/obj
UnitOfWork.Interfaces/bin
UnitOfWork/bin
UnitOfWork/obj
DomainServices.Interfaces/obj
DomainServices.Interfaces/bin
DomainServices/bin
DomainServices/obj
DataTransferObjects/bin
DataTransferObjects/obj
Enums/bin
Enums/obj

/node_modules
Web/wwwroot/filestorage/
/Web/ClientApp/.idea
/Web/ClientApp/.idea