<h1>Dictionary</h1>

<dx-box direction="row"
        width="100%">
    <dxi-item [ratio]="1">
        <dx-data-grid #datagridVerbs
                      id="gridVerbs"
                      [dataSource]="verbs"
                      keyExpr="id"
                      (onSelectionChanged)="onVerbSelectionChange($event)"
                      [(selectedRowKeys)]="selectedVerbs">
            <dxo-selection mode="single"></dxo-selection>
            <dxo-sorting mode="single"></dxo-sorting>
            <dxi-column caption="English"
                        sortOrder="asc"
                        [allowEditing]="false"
                        [allowReordering]="false"
                        dataField="infinitiveEn"></dxi-column>
            <dxi-column caption="Russian"
                        [allowEditing]="false"
                        [allowReordering]="false"
                        dataField="infinitiveRu"></dxi-column>
            <dxi-column caption="Irregular Verb"
                        [allowEditing]="false"
                        [allowReordering]="false"
                        dataField="isIrregular"></dxi-column>
            <dxi-column caption="Is Full"
                        [allowEditing]="false"
                        [allowReordering]="false"
                        dataField="isFull"></dxi-column>
        </dx-data-grid>
    </dxi-item>
    <dxi-item [ratio]="2" class="panelVerbForm">
        
        <dx-tabs [dataSource]="this.verbTabs"
                 [keyExpr]="id"
                 [selectedIndex]="0"
                 (onItemClick)="onSelectTab($event)"></dx-tabs>

        <div class="content-tab" *ngIf="this.selectedVerbs && this.selectedVerbs.length && this.currentVerbTab == this.verbTabId.Inifinitive">
            <div class="row field-box">
                <label class="col-lg-4 required" for="infinitiveEn">English</label>
                <div class="col-lg-8">
                    <dx-text-box 
                            [(value)]="this.currentVerb.infinitiveEn">
                        <!--<dx-validator>
                            <dxi-validation-rule type="required" message="The field is required"></dxi-validation-rule>
                        </dx-validator>-->
                    </dx-text-box>
                </div>
            </div>
            <div class="row field-box">
                <label class="col-lg-4 required" for="infinitiveEn">Russian</label>
                <div class="col-lg-8">
                    <dx-text-box [(value)]="this.currentVerb.infinitiveRu">
                        <!--<dx-validator>
                            <dxi-validation-rule type="required" message="The field is required"></dxi-validation-rule>
                        </dx-validator>-->
                    </dx-text-box>
                </div>
            </div>
            <div class="row field-box">
                <label class="col-lg-4 required" for="infinitiveEn">Irregular verb</label>
                <div class="col-lg-8">
                    <dx-check-box [(value)]="this.currentVerb.isIrregular"></dx-check-box>
                </div>
            </div>
        </div>


        <div *ngIf="this.currentVerbTab == this.verbTabId.PresentSimple">
            <h2>English</h2>

            <!-- Positive -->
            <fieldset class="form form-inline">
                <legend>Positive</legend>
                <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                    <div class="row field-box">
                        <label class="col-lg-4 required" for="infinitiveEn">I / We / You / They</label>
                        <div class="col-lg-8">
                            <dx-text-box *ngIf="this.isTense(this.tenseVerbs.PresentSimple)"
                                         (onValueChanged)="onFirstSingularValueChanged($event)"
                                         [(value)]="this.currentVerb.verbForms[this.tenseVerbs.PresentSimple][this.personVerbs.First][this.numberVerbs.Singular].verbEn">
                                <!--<dx-validator>
                                <dxi-validation-rule type="required" message="The field is required"></dxi-validation-rule>
                            </dx-validator>-->
                            </dx-text-box>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                    <div class="row field-box">
                        <label class="col-lg-4 required" for="infinitiveEn">She / He / It</label>
                        <div class="col-lg-8">
                            <dx-text-box *ngIf="this.isTense(this.tenseVerbs.PresentSimple)"
                                         [(value)]="this.currentVerb.verbForms[this.tenseVerbs.PresentSimple][this.personVerbs.Third][this.numberVerbs.Singular].verbEn">
                                <!--<dx-validator>
                                <dxi-validation-rule type="required" message="The field is required"></dxi-validation-rule>
                            </dx-validator>-->
                            </dx-text-box>
                        </div>
                    </div>
                </div>
            </fieldset>

            <h2>Russian</h2>
            <!-- Positive -->
            <fieldset class="form form-inline">
                <legend>Positive</legend>
                <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                    <div class="row field-box">
                        <label class="col-lg-4 required" for="">Я</label>
                        <div class="col-lg-8">
                            <dx-text-box *ngIf="this.isTense(this.tenseVerbs.PresentSimple)"
                                         [(value)]="this.currentVerb.verbForms[this.tenseVerbs.PresentSimple][this.personVerbs.First][this.numberVerbs.Singular].verbRu">
                                <!--<dx-validator>
                                <dxi-validation-rule type="required" message="The field is required"></dxi-validation-rule>
                            </dx-validator>-->
                            </dx-text-box>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                    <div class="row field-box">
                        <label class="col-lg-4 required" for="">Ты</label>
                        <div class="col-lg-8">
                            <dx-text-box *ngIf="this.isTense(this.tenseVerbs.PresentSimple)"
                                         [(value)]="this.currentVerb.verbForms[this.tenseVerbs.PresentSimple][this.personVerbs.Second][this.numberVerbs.Singular].verbRu">
                                <!--<dx-validator>
                                <dxi-validation-rule type="required" message="The field is required"></dxi-validation-rule>
                            </dx-validator>-->
                            </dx-text-box>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                    <div class="row field-box">
                        <label class="col-lg-4 required" for="">Она / Он / Оно</label>
                        <div class="col-lg-8">
                            <dx-text-box *ngIf="this.isTense(this.tenseVerbs.PresentSimple)"
                                         [(value)]="this.currentVerb.verbForms[this.tenseVerbs.PresentSimple][this.personVerbs.Third][this.numberVerbs.Singular].verbRu">
                                <!--<dx-validator>
                                <dxi-validation-rule type="required" message="The field is required"></dxi-validation-rule>
                            </dx-validator>-->
                            </dx-text-box>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                    <div class="row field-box">
                        <label class="col-lg-4 required" for="">Мы</label>
                        <div class="col-lg-8">
                            <dx-text-box *ngIf="this.isTense(this.tenseVerbs.PresentSimple)"
                                         [(value)]="this.currentVerb.verbForms[this.tenseVerbs.PresentSimple][this.personVerbs.First][this.numberVerbs.Plural].verbRu">
                                <!--<dx-validator>
                                <dxi-validation-rule type="required" message="The field is required"></dxi-validation-rule>
                            </dx-validator>-->
                            </dx-text-box>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                    <div class="row field-box">
                        <label class="col-lg-4 required" for="">Вы</label>
                        <div class="col-lg-8">
                            <dx-text-box *ngIf="this.isTense(this.tenseVerbs.PresentSimple)"
                                         [(value)]="this.currentVerb.verbForms[this.tenseVerbs.PresentSimple][this.personVerbs.Second][this.numberVerbs.Plural].verbRu">
                            </dx-text-box>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                    <div class="row field-box">
                        <label class="col-lg-4 required" for="">Они</label>
                        <div class="col-lg-8">
                            <dx-text-box *ngIf="this.isTense(this.tenseVerbs.PresentSimple)"
                                         [(value)]="this.currentVerb.verbForms[this.tenseVerbs.PresentSimple][this.personVerbs.Third][this.numberVerbs.Plural].verbRu">
                            </dx-text-box>
                        </div>
                    </div>
                </div>
            </fieldset>

        </div>

        <div class="panelButton">
            <dx-button text="Save" (onClick)="onSave($event)" type="success" [useSubmitBehavior]="true" [disabled]="!this.showPanel"></dx-button>
        </div>

    </dxi-item>
</dx-box>



<!-- Negative & Question -->
<!--<dx-box direction="row"
    width="100%">
    <dxi-item [ratio]="1">
        <fieldset>
            <legend>Negative</legend>
            <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                <div class="row">
                    <label class="col-lg-5">I / We / You / They</label>
                    <label class="col-lg-2">don't</label>
                    <div class="col-lg-5">
                        {{ currentVerb.infinitiveEn }}
                    </div>
                </div>
                <div class="row">
                    <label class="col-lg-5">She / He / It</label>
                    <label class="col-lg-2">doesn't</label>
                    <div class="col-lg-5">
                        {{ currentVerb.infinitiveEn }}
                    </div>
                </div>
            </div>
        </fieldset>
    </dxi-item>

    <dxi-item [ratio]="1">
        <fieldset>
            <legend>Question</legend>

            <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                <div class="row">
                    <label class="col-lg-2">Do</label>
                    <label class="col-lg-5">I / we / you / they</label>
                    <div class="col-lg-5">
                        {{ currentVerb.infinitiveEn }}<label>?</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                <div class="row">
                    <label class="col-lg-2">Does</label>
                    <label class="col-lg-5">she / he / it</label>
                    <div class="col-lg-5">
                        {{ currentVerb.infinitiveEn }}<label>?</label>
                    </div>
                </div>
            </div>
        </fieldset>
    </dxi-item>
</dx-box>-->
<!-- Negative & Question -->
<!--<dx-box direction="row"
        width="100%">
    <dxi-item [ratio]="1">
        <fieldset>
            <legend>Negative</legend>
            <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                <div class="row">
                    <label class="col-lg-5">Я</label>
                    <label class="col-lg-2">не</label>
                    <div class="col-lg-5" *ngIf="this.isTense(this.tenseVerbs.PresentSimple)">
                        {{ this.currentVerb.verbForms[this.tenseVerbs.PresentSimple][this.personVerbs.First][this.numberVerbs.Singular].verbRu }}
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                <div class="row">
                    <label class="col-lg-5">Ты</label>
                    <label class="col-lg-2">не</label>
                    <div class="col-lg-5" *ngIf="this.isTense(this.tenseVerbs.PresentSimple)">
                        {{ this.currentVerb.verbForms[this.tenseVerbs.PresentSimple][this.personVerbs.Second][this.numberVerbs.Singular].verbRu }}
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                <div class="row">
                    <label class="col-lg-5">Она / Он / Оно</label>
                    <label class="col-lg-2">не</label>
                    <div class="col-lg-5" *ngIf="this.isTense(this.tenseVerbs.PresentSimple)">
                        {{ this.currentVerb.verbForms[this.tenseVerbs.PresentSimple][this.personVerbs.Third][this.numberVerbs.Singular].verbRu }}
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                <div class="row">
                    <label class="col-lg-5">Мы</label>
                    <label class="col-lg-2">не</label>
                    <div class="col-lg-5" *ngIf="this.isTense(this.tenseVerbs.PresentSimple)">
                        {{ this.currentVerb.verbForms[this.tenseVerbs.PresentSimple][this.personVerbs.First][this.numberVerbs.Plural].verbRu }}
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                <div class="row">
                    <label class="col-lg-5">Вы</label>
                    <label class="col-lg-2">не</label>
                    <div class="col-lg-5" *ngIf="this.isTense(this.tenseVerbs.PresentSimple)">
                        {{ this.currentVerb.verbForms[this.tenseVerbs.PresentSimple][this.personVerbs.Second][this.numberVerbs.Plural].verbRu }}
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                <div class="row">
                    <label class="col-lg-5">Они</label>
                    <label class="col-lg-2">не</label>
                    <div class="col-lg-5" *ngIf="this.isTense(this.tenseVerbs.PresentSimple)">
                        {{ this.currentVerb.verbForms[this.tenseVerbs.PresentSimple][this.personVerbs.Third][this.numberVerbs.Plural].verbRu }}
                    </div>
                </div>
            </div>
        </fieldset>
    </dxi-item>

    <dxi-item [ratio]="1">
        <fieldset>
            <legend>Question</legend>

            <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                <div class="row">
                    <label class="col-lg-5">Я</label>
                    <div class="col-lg-5" *ngIf="this.isTense(this.tenseVerbs.PresentSimple)">
                        {{ this.currentVerb.verbForms[this.tenseVerbs.PresentSimple][this.personVerbs.First][this.numberVerbs.Singular].verbRu }}<label>?</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                <div class="row">
                    <label class="col-lg-5">Ты</label>
                    <div class="col-lg-5" *ngIf="this.isTense(this.tenseVerbs.PresentSimple)">
                        {{ this.currentVerb.verbForms[this.tenseVerbs.PresentSimple][this.personVerbs.Second][this.numberVerbs.Singular].verbRu }}<label>?</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                <div class="row">
                    <label class="col-lg-5">Она / Он / Оно</label>
                    <div class="col-lg-5" *ngIf="this.isTense(this.tenseVerbs.PresentSimple)">
                        {{ this.currentVerb.verbForms[this.tenseVerbs.PresentSimple][this.personVerbs.Third][this.numberVerbs.Singular].verbRu }}<label>?</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                <div class="row">
                    <label class="col-lg-5">Мы</label>
                    <div class="col-lg-5" *ngIf="this.isTense(this.tenseVerbs.PresentSimple)">
                        {{ this.currentVerb.verbForms[this.tenseVerbs.PresentSimple][this.personVerbs.First][this.numberVerbs.Plural].verbRu }}<label>?</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                <div class="row">
                    <label class="col-lg-5">Вы</label>
                    <div class="col-lg-5" *ngIf="this.isTense(this.tenseVerbs.PresentSimple)">
                        {{ this.currentVerb.verbForms[this.tenseVerbs.PresentSimple][this.personVerbs.Second][this.numberVerbs.Plural].verbRu }}<label>?</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                <div class="row">
                    <label class="col-lg-5">Они</label>
                    <div class="col-lg-5" *ngIf="this.isTense(this.tenseVerbs.PresentSimple)">
                        {{ this.currentVerb.verbForms[this.tenseVerbs.PresentSimple][this.personVerbs.Third][this.numberVerbs.Plural].verbRu }}<label>?</label>
                    </div>
                </div>
            </div>
        </fieldset>
    </dxi-item>
</dx-box>-->
