<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EnglishTraining</title>
    <base href="~/" />

    <link rel="stylesheet" type="text/css" href="~/style/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="~/style/dx.spa.css" />
    <link rel="dx-theme" data-theme="generic.light" href="~/style/dx.light.css" data-active="true" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/style/devextreme-override.css" />
    
    <link rel="stylesheet" href="~/style/common.css" />



</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
